@model List<Ejercicio.EFU.MVC.Models.ShippersViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Shippers</h2>
@if (TempData.Peek("ErrorMessage") != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">CompanyName</th>
            <th scope="col">Phone</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var shipper in Model)
        {
            <tr>
                <td>
                    @shipper.Id
                </td>
                <td>
                    @shipper.CompanyName
                </td>
                <td>
                    @shipper.Phone
                </td>
                <td>
                    @if (shipper.GetOrdersByShipperId)
                    {
                        <span class="text-danger">@TempData["ErrorMessage"]</span>
                    }
                    else
                    {
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = shipper.Id }, new { @class = "btn btn-danger", onclick = "return confirm('¿Estás seguro de que deseas eliminar este shipper?')" })
                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = shipper.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Agregar", "Agregar", null, new { @class = "btn btn-success" })
</div>